<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.harvard.fas.rbrady.tpteam.tpbuddy.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="TPBuddyStub Perspective"
            class="edu.harvard.fas.rbrady.tpteam.tpbuddy.Perspective"
            id="edu.harvard.fas.rbrady.tpteam.tpbuddy.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="edu.harvard.fas.rbrady.tpteam.tpbuddy.views.TestView"
            icon="icons/junit.gif"
            id="edu.harvard.fas.rbrady.tpteam.tpbuddy.views.testview"
            name="TestView"/>
      <view
            allowMultiple="true"
            class="edu.harvard.fas.rbrady.tpteam.tpbuddy.views.EventHistoryView"
            icon="icons/event_message.gif"
            id="edu.harvard.fas.rbrady.tpteam.tpbuddy.eventhistview"
            name="Event History"/>
   </extension>

</plugin>
